@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 600;
    src: local("Roboto"), url(./fonts/roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: local("Roboto"), url(./fonts/roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Roboto Slab;
    font-weight: 400;
    src: url(./fonts/slab/RobotoSlab-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 600;
    src: url(./fonts/slab/RobotoSlab-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: Roboto Slab;
    font-weight: bold;
    src: url(./fonts/slab/RobotoSlab-Bold.ttf) format("truetype");
}

.btn_next_step_reservation {
    @apply font-bold py-3 px-8 text-white rounded-full bg-orange-500 inline-flex items-center justify-center disabled:opacity-50 ;
}

.btn_next_step_reservation:focus {
    @apply outline-none bg-orange-500;
}

@media (min-width: 641px) {
    
}
@media (max-width: 640px) {
    .btn_next_step_reservation,
    .btn_back_step_reservation {
        @apply w-full;
    }
}

.blur {
    backdrop-filter: blur(12px);
    background: #ff980066;
}

/*-- reservation btn BACK step -- */
.btn_back_step_reservation {
    @apply font-bold  py-3 px-8 rounded-full border border-gray-300 text-gray-600;
}
.btn_back_step_reservation:hover {
    @apply bg-gray-300;
}
.btn_back_step_reservation:focus {
    @apply outline-none;
}

.form-input {
    @apply block w-full shadow-sm rounded-md;
}

.form-input-border-normal {
    @apply focus:ring-orange-400 focus:border-orange-400 border-gray-300;
}

.form-input-border-error {
    @apply border-red-500 ring-red-500 ring-1 focus:ring-red-500 focus:border-red-500;
}

.form-input-label {
    @apply block font-semibold text-sm text-gray-600;
}
.form-input-label-error {
    @apply text-sm text-red-600 font-normal;
}
.background-banner {
    background-image: linear-gradient(#00000000, #00000040);
}

/* .fade-enter {
    @apply opacity-0 z-10 transform scale-95  
}

.fade-enter.fade-enter-active {
    
    @apply  transition duration-150 opacity-100 transform scale-100
}
.fade-exit-active {
    opacity: 0;
    transition: 0ms;
    
} */
@layer utilities {

    .py-content {
        @apply py-8;
    }
    .pb-content {
        @apply pb-8;
    }
    /* //md */
    @media (min-width: 768px) {
        .py-content {
            @apply py-12;
        }
        .pb-content {
            @apply pb-12;
        }
    }

    /* //lg */
    @media (min-width: 1024px) {
        .py-content {
            @apply py-16;
        }
        .pb-content {
            @apply pb-16;
        }
    }

    /* //xl */
    @media (min-width: 1280px) {
        .py-content {
            @apply py-20;
        }
        .pb-content {
            @apply pb-20;
        }
    }
}

